@model List<CookType>

@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Yemek Türleri</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>

</body>
</html>